.Task{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;

  &:last-child{
    margin-bottom: 0;
  }

  &_moving{
    background-color: #ecf0f1;
  }

  &__top-content{
    display: flex;
  }

  &__title{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__remove{
    margin-left: auto;
  }

  &__content{
    font-size: 18px;
  }

  &__secondary{
    display: flex;
  }

  &__author{
    color: #95a5a6;
    font-size: 12px;
  }

  &__post-time{
    color: #95a5a6;
    font-size: 12px;
    margin-left: auto;
  }
}