$gutter-width: 10px;
$column-number: 12;
$basic-cell-width: calc(100%/12 - 2* #{$gutter-width});

.grid{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  $i: 1;
  @while $column-number >= $i{
    &__cell--#{$i} {
      margin-left: $gutter-width;
      margin-right: $gutter-width;
      width: calc(#{$basic-cell-width} * #{$i} + 2 * #{$gutter-width}* (#{$i} - 1));
    }
    $i: $i + 1
  }
}