.container_12 {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }
  .container_12 .grid_1 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 1 + 2 * 10px* (1 - 1)); }
  .container_12 .grid_2 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 2 + 2 * 10px* (2 - 1)); }
  .container_12 .grid_3 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 3 + 2 * 10px* (3 - 1)); }
  .container_12 .grid_4 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 4 + 2 * 10px* (4 - 1)); }
  .container_12 .grid_5 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 5 + 2 * 10px* (5 - 1)); }
  .container_12 .grid_6 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 6 + 2 * 10px* (6 - 1)); }
  .container_12 .grid_7 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 7 + 2 * 10px* (7 - 1)); }
  .container_12 .grid_8 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 8 + 2 * 10px* (8 - 1)); }
  .container_12 .grid_9 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 9 + 2 * 10px* (9 - 1)); }
  .container_12 .grid_10 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 10 + 2 * 10px* (10 - 1)); }
  .container_12 .grid_11 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 11 + 2 * 10px* (11 - 1)); }
  .container_12 .grid_12 {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/12 - 2* 10px) * 12 + 2 * 10px* (12 - 1)); }
  .container_12 .prefix_1 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*1); }
  .container_12 .suffix_1 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*1); }
  .container_12 .push_1 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*1); }
  .container_12 .pull_1 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*1)); }
  .container_12 .prefix_2 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*2); }
  .container_12 .suffix_2 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*2); }
  .container_12 .push_2 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*2); }
  .container_12 .pull_2 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*2)); }
  .container_12 .prefix_3 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*3); }
  .container_12 .suffix_3 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*3); }
  .container_12 .push_3 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*3); }
  .container_12 .pull_3 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*3)); }
  .container_12 .prefix_4 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*4); }
  .container_12 .suffix_4 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*4); }
  .container_12 .push_4 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*4); }
  .container_12 .pull_4 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*4)); }
  .container_12 .prefix_5 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*5); }
  .container_12 .suffix_5 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*5); }
  .container_12 .push_5 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*5); }
  .container_12 .pull_5 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*5)); }
  .container_12 .prefix_6 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*6); }
  .container_12 .suffix_6 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*6); }
  .container_12 .push_6 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*6); }
  .container_12 .pull_6 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*6)); }
  .container_12 .prefix_7 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*7); }
  .container_12 .suffix_7 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*7); }
  .container_12 .push_7 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*7); }
  .container_12 .pull_7 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*7)); }
  .container_12 .prefix_8 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*8); }
  .container_12 .suffix_8 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*8); }
  .container_12 .push_8 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*8); }
  .container_12 .pull_8 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*8)); }
  .container_12 .prefix_9 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*9); }
  .container_12 .suffix_9 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*9); }
  .container_12 .push_9 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*9); }
  .container_12 .pull_9 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*9)); }
  .container_12 .prefix_10 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*10); }
  .container_12 .suffix_10 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*10); }
  .container_12 .push_10 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*10); }
  .container_12 .pull_10 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*10)); }
  .container_12 .prefix_11 {
    padding-left: calc(calc(100%/12 - 2* 10px) + 10px*11); }
  .container_12 .suffix_11 {
    padding-right: calc(calc(100%/12 - 2* 10px) + 10px*11); }
  .container_12 .push_11 {
    left: calc(calc(100%/12 - 2* 10px) + 10px*11); }
  .container_12 .pull_11 {
    left: calc(-1* (calc(100%/12 - 2* 10px) + 10px*11)); }

/*# sourceMappingURL=grid.css.map */
