.BlogTable {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  height: 845px;
  width: 70%;
  overflow: auto;

  &__add-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    background: none;
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
  }
}
