.WriteBlog {
  font-family: Roboto Slab, serif;
  margin: 0 auto;
  padding: 0;
  width: 800px;

  &__title {
    width: 100%;
    padding: 0 20px;
    font-size: 36px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    margin-bottom: 10px;
  }

  &__author {
    width: 100%;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
  }

  &__content {
    height: 200px;
    resize:none !important;
    width: 100%;
    padding: 20px;
    font-family: Roboto Slab, serif;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
  }

  &__publish-button {
    position: fixed;
    top: 140px;
    right: 180px;

    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    background: none;

    border: 1px solid black;
    height: 34px;
    width: 170px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

    &:after {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      display: block;
      content: '';
      background: url('https://res.cloudinary.com/dum2a6djw/image/upload/v1551448423/publish_icon.svg');
      background-size: contain;
    }
  }
}
