.Sidebar{
  font-family: Roboto, sans-serif;
  background-color: #ecf0f1;
  height: 845px;
  min-width: 400px;
  overflow: auto;
  padding: 5px;

  &__title{
    margin: 0;
    padding: 0;
  }

  &__blog-list{
    margin: 0;
    padding: 0;
  }

  &__add-blog{
    margin: 10px auto;
    text-align: center;
    padding: 10px;
  }
}