.LayoutArticle {
  position: relative;
  padding: 10px;
  min-height: 200px;
  align-self: center;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);

  &__title {
    max-width: 36em;
    margin: 0;
  }

  &__remove {
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 10px;
    padding: 2px 5px;
    background: none;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
  }

  &__content {
    padding: 0;
    margin: 0 0 10px;
  }

  &__author {
    color: #394040;
    font-size: 14px;
  }

  &__date {
    color: #394040;
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
