.LayoutArticle {
  position: relative;
  display: flex;
  min-height: 200px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
  background-color: white;

  &__title {
    max-width: 36em;
    margin: 0;
  }

  &__remove {
    display: block;
    color: #394040;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 10px;
    padding: 2px 5px;
    background: none;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);

  }

  &__content {
    padding: 0;
    margin: 0 0 20px;
  }

  &__author {
    color: #394040;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
  }

  &__date {
    color: #394040;
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &__resize {
    transition: 0.3s;
    color: transparent;
    cursor: col-resize;
    min-width: 5px;
    max-width: 5px;
    background-color: grey;
  }

  &__content-container{
    padding: 10px;
  }
}
