.Header{
  font-family: Roboto, sans-serif;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  height: 100px;

  &__placeholder{
    display: flex;
    align-items: center;

    &-logo{
      border-right: 1px solid #000000;
      text-align: center;
      padding-right: 10px;
      margin-right: 10px;
    }

    h1{
      margin: 0;
    }

    p{
      margin: 0;
    }

    &-button{
      display: flex;
      height: 30px;
      margin: 10px;
      background-color: #ffffff;
      border: 1px solid #000000;
      border-radius: 5px;
      color: #000000;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease all;
      align-items: center;

      &:hover{
        background-color: #ecf0f1;
      }

      img{
        margin: 0 5px;
      }
    }
  }
}