.Item{
  background-color: #ffffff;
  list-style-type: none;
  border: 1px solid lightgray;
  cursor: move;
  &:not(:last-child){
    margin-bottom: 5px;
  }

  &_bigger{
    height: 100%;
  }

  &__title{
    font-size: 14px;
    margin: 0;
    padding: 0;

    &_bigger{
      font-size: 20px;
    }
  }

  &__content{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}